{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block product_listing %}
    <div class="cms-element-product-listing-wrapper"
         data-listing-pagination="true"
         data-listing-pagination-options="{{ paginationConfig|json_encode }}"
         data-listing="true"
         data-listing-options="{{ listingPagination|json_encode }}"
         data-listing-listener="false">
        {% block element_product_listing_wrapper_content %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
